.env
.auth/
.playwright-cli

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.playwright-mcp
.playwright/

tests/data/*.json
test-results.json
test-steps.json
